	/*
	Author			: Roberto Taglialatela
	Creation date	: 20.03.2018
	Last updated	: 04.078.2018
	Content			: styles for gpp	
	*/
		/* Import Font Awesome */
		@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
		
		body {
		margin				: 0;
		padding				: 0;
		font-family			: roboto, namum, arial, sans-serif;
		font-size			: 1em;
		background			: #f7f7f7;
		}
		
		h1, h2, h3, h4, h5 {
		font-weight			: lighter;
		}
		
		ul {
		list-style			: none;
		}
		
		a:hover {
		text-decoration		: none;
		}
		
		.main-container {
		padding				: 5em 0 0;
		}
		
		.tab-content .tab-panel {
		border-top-width	: 0;
		background			: #fff;
		padding				: .5em;
		}
		
		.panel {
		padding				: 0;
		border				: 1px solid #ccc;
		}
		
		.panel-nb {
		border				: none;
		}
		
		.panel-heading {
		padding				: 0;
		border-bottom		: 1px solid #ccc;
		}
		
		.panel-heading-nb {
		padding				: 0;
		border-bottom		: 0px solid #ccc;
		}
		
		.panel-heading-content {
		padding				: .5em .5em 0;
		}
		
		.panel-body {
		padding				: .5em;
		}
		
		.panel-title>a, .panel-title>a:active, .panel-title>a:hover{
		display:block;
		padding:0;
		color		: #aaa;
		font-weight:lighter;
		font-size: .8em;
		text-transform:uppercase;
		letter-spacing:1px;
		word-spacing:3px;
		text-decoration:none;
		}
		
		.panel-title  a:before {
		font-family: 'FontAwesome';
		content: "\f106";
		float: right;
		transition: all 0.5s;
		font-size: 2em;
		margin:-0.2em .2em 0 0;
		}
		
		.panel-title a.collapsed:before {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		transform: rotate(180deg);
		} 

		.list-responsive {
		padding				: 0;
		}
		
		.list-responsive-item {
		padding				: .5em .5em 1em;
		margin				: 0 .5em;
		border-bottom		: 1px solid #ccc;
		}
		
		body .main-title {
		padding				: 0;
		margin				: 0 0 1em;
		}
		/* Checkbox styling */
		label h4 {
			display			: inline-block;
		}
		
		input[type="checkbox"] {
		  border			: 0;
		  margin			: 0;
		  opacity			: 0; /* The secret ingredient */
		  outline			: 0;
		  overflow			: hidden;
		  padding			: 0;
		  position			: absolute;
		}

		input[type="checkbox"] + label:before {
		  display			: inline-block;
		  font-family		: "FontAwesome";
		  margin			: -13px 0 0;
		  padding			: 0 .3em 0 0;
		  vertical-align	: middle;
		}

		input[type="checkbox"] + label:before {
		  content			: "\f057";
		  letter-spacing	: 0px;
		  color				: #ddd;
		  font-size			: 3em;
		}
		
		input[type="checkbox"]:focus + label:before {
		  color				: #ccc;
		}

		input[type="checkbox"]:checked + label:before {
		  content			: "\f058";
		  letter-spacing	: 0px;
		  color				: #14d077;
		}
		
		
		/* ---------------------------------------------------------------------------------------------------------- */
		/* ------------------------------------  STYLE FOR INDEX  ------------------------------------------- */
		/* ---------------------------------------------------------------------------------------------------------- */
		#reg-errors {
		display				: none;
		background			: #870014;
		color				: #ffdaca;
		padding				: .5em 1em;
		margin				: 0 3em 1em;
		font-size			: 1.2em;
		}
		
		#reg-success {
		display				: none;
		background			: #008714;
		color				: fafffa;
		padding				: .5em 1em;
		margin				: 0 3em 1em;
		font-size			: 1.2em;
		}
		
		/* ---------------------------------------------------------------------------------------------------------- */
		/* -----------------------------------   STYLE FOR PLAY SESSION   ------------------------------------------- */
		/* ---------------------------------------------------------------------------------------------------------- */
		#play-screen {
		font-size			: 2em;
		}
		
		#question {
		background			: #fafafa;
		padding				: 1em .5em;
		margin				: 0 0 1em 0;
		border-bottom		: 2px solid #999;
		box-shadow			: 0 .1em .4em #999;
		}
		
		.btn-wrapper {
		margin				: 0;
		padding				: 0 .2em 1em .2em;
		text-align			: left;
		}
		
		#answer-btn .btn-wrapper button {
		position			: relative;
		display				: block;
		background			: #ffffff;
		padding				: 2em .5em 2em 2.5em;
		margin				: 0;
		width				: 100%;
		border				: none;
		border				: 2px solid #999;
		border-radius		: .6em;
		box-shadow			: 0 0 6px #666;
		font-size			: .7em;
		}
				
		#answer-btn .btn-pressed button {
		background			: #F0F3FF;
		border				: 2px solid #A0A3AF;
		box-shadow			: none;
		}
		
		#answer-btn .btn-wrapper:nth-child(4) {
		margin-bottom		: 0;
		}
		
		#answer-btn  .btn-wrapper > button > :first-child {
			position		: absolute;
			left			: 1%;
			top				: 30%;
			color			: #999;
		 }
		
		#answer-btn  .btn-wrapper > .play-answer-correct {
		color				: #048047;
		border-color		: #048047;
		font-weight			: bold;
		font-style			: italic;
		}
		
		#end-answer-wrapper {
		margin				: -1em auto 0;
		}
		
		button#end-answer {
		display				: none;
		padding				: 0;
		color				: #ddd;
		border				: none;
		border				: 0 solid transparent;
		font-size			: 4em;	
		}
		
		button#end-answer.ready {
		color				: #5599dd;
		}
		
		button#end-answer.ready:hover, button#end-answer.ready:active {
		color				: #14d077;
		}
		
		.centered {
		float				: none;
		margin				: 0 auto;
		text-align			: center;
		}
		
		#time-counter {
		float				: right;
		min-width			: 2.5em;
		padding				: .5em;
		margin				: .5em;
		background			: #FDC8EF;
		border				: 3px solid #9D587F;
		border-radius		: 50%;
		}
		
		#session-standing-list  {
		list-style			: none;	
		padding				: 1em 0em;
		margin				: 0;
		}
		
		#session-standing-list li{
		background			: transparent;
		border-bottom		: 1px solid #ccc;
		border-radius		: 0;
		padding				: 1em 0;
		margin				: 0;
		}
		
		#score {
		background			: #fafafa;
		padding				: 1em;
		margin				: 0 auto;
		}
		
		#feedback, #final-feedback {
		display				: none;
		width				: 100%;
		height				: 100%;
		background			: #fafafa;
		padding				: 1em;
		margin				: 0;
		}
		
		#starting-countdown {
		display				: none;
		width				: 100%;
		height				: 100%;
		background			: #fafafa;
		padding				: 1em;
		margin				: 0;
		text-align			: center;
		vertical-align		: center;
		font-size			: 8em;
		color				: #333;
		}
		
		.podium {
		font-size			: 2em;
		padding				: 1em 0 2em;
		}
		
		.first-place-podium {
		background			: #dfdfdf;	
		height				: 4em;
		color				: gold;
		border-radius		: .2em .2em 0 0;
		}
		
		.second-place-podium {
		background			: #dfdfdf;	
		height				: 2.9em;
		color				: silver;
		border-radius		: .2em 0 0 0;
		}
		
		.third-place-podium {
		background			: #dfdfdf;	
		height				: 2.4em;
		color				: #cd7f32;
		border-radius		: 0 .2em 0 0;
		}
		
		.podium-steps {
		font-size			: 2em;
		}
		
		.podium-position {
		padding				: 0;
		margin				: 0 auto .2em;
		border				: 0px solid #333;
		border-radius		: 50%;
		background			: #fff;
		width				: 1.7em;
		}
		
		/* custom styles for trophy popup panel (temporary) */
		.notification-wrapper {
			background		: #333;
			border			: 1px solid #ccc; 
		}
		
		.trophy-popup-left {
			padding			: 1em;
			border-right	: 1px solid #666; 
		}
		.trophy-popup-right {
			padding			: 1em;
			color			: #dadada;
		}
		
		/* ---------------------------------------------------------------------------------------------------------- */
		/* --------------------------------- NEW QUIZ FORM, UPDATE QUIZ FORM -----------------------------------------*/
		/* ---------------------------------------------------------------------------------------------------------- */
		
		#new-quiz-form, #update-quiz-form, #new-trophy-form  {	
		padding				: 3em 0em 1em;
		margin				: 1em 0 0;
		}
		
		.answer-correct {
		color			: #ccc;
		}
		
		.correct-checked {
		color			: #14d077;
		}
		
		#alert-wrapper {
			position	: fixed;
			top			: 4em;
			z-index		: 10;
			width		: 100%;
			padding		: 0;
			text-align	: center;
		}
		
		#alert-wrapper .alert-item{
			display		: none;
			margin		: 0;
		}
		
		#alert-wrapper .alert-content{
			padding		: 1em;
			margin		: 0;
		}
		
		/* ---------------------------------------------------------------------------------------------------------- */
		/* ---------------------------------------- QUIZ LIST ----------------------------------------------------*/
		/* ---------------------------------------------------------------------------------------------------------- */
		#quiz-list  {
		list-style			: none;	
		padding				: 1em 0em;
		margin				: 0;
		position			: relative;
		}
		
		#quiz-list li{
		background			: #fff;
		border				: 1px solid #ccc;
		border-radius		: .5em;
		padding				: 1em;
		margin				: 1em 0;
		}
		
		.quiz-manage-buttons {
		padding				: .5em 0 0;
		margin				: 1em 0 0;
		border-top			: 1px dashed #ccc;
		}
		
		.button-circle-wrapper {
		padding				: .5em;
		}
		

		
		.quiz-manage-buttons .button-circle:hover {
		transition			: all .7s;
		}
		
		.quiz-manage-buttons [class~=duplicate] .button-circle:hover{
		background			: #3D6AA0;
		color				: #fff;
		}
		
		.quiz-manage-buttons [class~=duplicate] .button-circle{
		background			: #fff;
		color				: #3D6AA0;
		border-color		: #3D6AA0;
		}
		
		.quiz-manage-buttons [class~=delete] .button-circle:hover{
		background			: #a33;
		color				: #fff;
		}
		
		.quiz-manage-buttons [class~=delete] .button-circle{
		background			: #fff;
		color				: #a33;
		border-color		: #a33;
		}
		
		.quiz-manage-buttons [class~=edit] .button-circle:hover{
		background			: #F4A340;
		color				: #fff;

		}
		
		.quiz-manage-buttons [class~=edit] .button-circle{
		background			: #fff;
		color				: #F4A340;
		border-color		: #F4A340;
		}
		
		.quiz-manage-buttons [class~=play] .button-circle:hover{
		background			: #14d077;
		color				: #fff;
		}
		
		.quiz-manage-buttons [class~=play] .button-circle{
		background			: #fff;
		color				: #14d077;
		border-color		: #14d077;
		}
		
		.quiz-manage-buttons [class~=text-center] .button-circle {
		padding				: .5em;
		margin				: 0;
		border				: 0px solid #999;
		border-radius		: 50%;
		background			: #fff;
		color				: #ccc;
		width				: 3.5em;
		transition			: all 2s;
		}
		/* ---------------------------------------------------------------------------------------------------------- */
		/* ---------------------------------------- QUESTIONS LIST ----------------------------------------------------*/
		/* ---------------------------------------------------------------------------------------------------------- */
		#questions-list  {
		list-style			: none;	
		padding				: 1em 0em;
		margin				: 1em 0;
		}
		
		#questions-list li{
		background			: #fff;
		border				: 1px solid #ccc;
		border-radius		: .5em;
		padding				: 0;
		margin				: 1em 0;
		}
		
		#questions-list li .drag{
		background			: #f0f0f0;
		border-right		: 1px solid #ccc;
		border-radius		: .5em 0 0 .5em;
		cursor				: move;
		}
		
		#questions-list li .content{
		padding				: 1em .5em;
		}
		
		
		@media (max-width: 767px) {
			body {
			font-size			: .8em;
			}
		
			#question {
			margin				: 0 0 .8em 0;
			padding				: .2em .1em;
			box-shadow			: 0 .1em .2em #999;
			font-size			: .8em;
			}
			
			#time-counter {
			min-width			: 2.1em;
			padding				: .2em;
			margin				: .2em;
			background			: #FDC8EF;
			border				: 2px solid #9D587F;
			border-radius		: 50%;
			font-size			: .6em;
			}
			
			.btn-wrapper {
			margin				: .1em 0;
			padding				: 0 .1em;
			}
			
			#answer-btn .btn-wrapper button {
			display				: block;
			padding				: 1em .1em 0;
			margin				: .5em 0 0;
			}
			
			#end-answer-wrapper {
			margin				: 0 auto 0;
			}
		}
		
		/* ---------------------------------------------------------------------------------------------------------- */
		/* ---------------------------------------- TROPHIES LIST ----------------------------------------------------*/
		/* ---------------------------------------------------------------------------------------------------------- */
		#trophies-list  {
		list-style			: none;	
		padding				: 1em 0em;
		margin				: 0;
		}
		
		#trophies-list li{
		background			: transparent;
		border-bottom		: 1px solid #ccc;
		border-radius		: 0;
		padding				: 1em 0;
		margin				: 0;
		}
		
		.trophy-wrapper > .locked{
		margin				: 0 auto;
		padding				: 1em 1em;
		background			: #fafafa;
		color				: #333;
		border				: 1px solid #333;
		font-size			: 1em;
		text-align			: center;
		max-width			: 5em;
		}
		
		.trophy-wrapper > .unlocked{
		margin				: 0 auto;
		padding				: 1.2em 1em;
		background			: #fafafa;
		color				: #333;
		border				: 5px solid #333;
		border-radius		: 50%;
		font-size			: 1em;
		text-align			: center;
		max-width			: 5em;
		}
		
		.trophy-wrapper > .bronze, 
		.alert-trophy-bronze .trophy-wrapper > div{
		background			: #ffdab4;
		color				: #cd7f32;
		border-color		: #cd7f32;
		}
		
		.trophy-wrapper > .silver, 
		.alert-trophy-silver .trophy-wrapper > div {
		background			: #f0f0f0;
		color				: #b0b0b0;
		border-color		: #b0b0b0;
		}
		
		.trophy-wrapper > .gold, 
		.alert-trophy-gold .trophy-wrapper > div{
		background			: #fffacc;
		color				: #ffd700;
		border-color		: #ffd700;
		}
		
	
		/* ---------------------------------------------------------------------------------------------------------- */
		/* ------------------------------------  STYLE FOR SESSION LOBBY  ------------------------------------------- */
		/* ---------------------------------------------------------------------------------------------------------- */
		
		#start-session-wrapper, #get-quiz-wrapper {
		margin				: 1em auto 0;
		}
		
		.big-btn {
		margin				: 0 auto;
		padding				: 0;
		background			: transparent;
		color				: #999;
		border				: none;
		border				: 0 solid transparent;
		font-size			: 8em;	
		}

		#start-session {
		display				: none;	
		}
		
		button#start-session:hover, button#get-quiz:hover {
		color				: #10456E;	
		}
		
		.big-btn:active, button#start-session:active, button#get-quiz:active {
		color				: #00AA07;
		}

		.team-box-wrapper {
		padding				: 2em 1em 0;
		}
		
		#players-without-team-wrapper {
		padding				: 0;
		margin				: 0;
		}
		
		#players-without-team-list, .players-by-team-list {
		padding				: 0;
		margin				: 0 0 2em;
		}
		
		#players-without-team-list li, .players-by-team-list li{
		background			: transparent;
		border-radius		: 0;
		padding				: 1em 0;
		margin				: 0;
		}
		
		.no-team-user {
		padding				: 0 .5em;
		}
		
		.kick-player-without-team-icon, .kick-player-by-team-icon {
		color				: #cacaca;
		}
		
		.kick-player-without-team-icon:hover, .kick-player-by-team-icon:hover {
		color				: #FF5858;
		cursor				: pointer;
		}
		
		.player-by-team-icon {
		color				: #14dda7;
		}
		
		.team-box-heading, .team-box-body {
		padding				: 1em;
		margin				: 0;
		background			: #fff;
		border				: 1px solid #ccc;
		}
		
		.team-icon:hover {
		color				: #14dda7;
		cursor				: pointer;
		}
		/* ---------------------------------------------------------------------------------------------------------- */
		/* ------------------------------------------- STYLE FOR PROFILE -------------------------------------------- */
		/* ---------------------------------------------------------------------------------------------------------- */
		input[disabled] {
		cursor:not-allowed;
		}