/*
Author: 	Roberto Taglialatela
version:	0.3
Created: 	16.06.2017

*/


.form-control-inverted {
  background: #333;
  color: #ccc;
  border: 1px solid #555;
}

.form-control-inverted::placeholder {
  color: #777;
}

@media (max-width: 767px) {
	.navbar-nav > li.notifications .dropdown-menu li {
	  border-bottom: 1px solid #555;
	}
	
	.navbar-nav > li.notifications .dropdown-menu li.media {
	  color: #ccc;
	}
	
	.navbar-nav > li.notifications .dropdown-menu li.media:hover {
	color: #fff;
    background: #333;
	}
	
	.navbar-nav .dropdown-menu > li > a, .navbar-nav .dropdown-menu > li > a:focus {
    padding: 12px 14px;
    border-top: 1px solid #444;
	}
}


.challenge-failed {
  background: transparent;
  color: #E57373;
  text-decoration: line-through;
}

/* custom styles for course discussions */
.btn-black {
  background: #000;
  color: #fff;
}


.discussion-answer{
  padding: 10px 0 10px 0;
  margin: 10px 0 0 50px;
}

.discussion-answers > .discussion-answer, 
.discussion-answers > .argument-pill {
  margin: 0 0 0 50px;
}

.discussion-answer:not(:first-of-type){
  border-top: 1px solid #ddd;
}

.discussion-answer-form input{
  background: #fafafa;
  border-color: #999;
}

.discussion-answer-form input::placeholder{
  color: #777;
}

/* general custom styles */
.progress-level{
  background: #000;
}

.hero-style {
  background: #13181C url('../../images/store/abstract-pattern2.jpg') right center no-repeat;
}


.container-custom {
  background: #fafafa url('../../images/store/abstract-pattern2.jpg') 0 0 repeat;
}


.wizard-container {
  padding: 20px 0 0;
  background: rgba(0,0,0,.85);
  color: white;
}

.wizard-container label {
  color: #333;
}


/** timeline box structure **/
.timeline {
  list-style: none;
  padding: 0 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #666;
  left: 50%;
  margin-left: -1.5px;
}

.tldate {
  display: block;
  width: 200px;
  background: #414141;
  border: 3px solid #212121;
  border-radius: 3px;
  color: #ededed;
  margin: 0 auto;
  padding: 8px 0 0;
  font-weight: lighter;
  font-size: 1.2rem;
  text-align: center;
  -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
}

.timeline li {
  margin-bottom: 25px;
  position: relative;
}

.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}
.timeline li:after {
  clear: both;
}
.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}

/** timeline panels **/
.timeline li .timeline-panel {
  width: 46%;
  float: left;
  background: #fafafa;
  border: 1px solid #d4d4d4;
  padding: 20px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

/** panel arrows **/
.timeline li .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline li .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fafafa;
  border-right: 0 solid #fafafa;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
  top:0;
  right:0;
  display: none;
  border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}


/** timeline circle icons **/
.timeline li .tl-circ {
  position: absolute;
  top: 23px;
  left: 50%;
  text-align: center;
  background: #fafafa;
  color: #333;
  width: 35px;
  height: 35px;
  padding: 6px 0 0 0;
  margin-left: -16px;
  border: 2px solid #999;
  border-radius: 50%;
  z-index: 9;
}

.timeline li .knowledge-icon {
  background: #f0f0f0;
  color: #333;
  border: 2px solid #50a8af;
}

.timeline li .practice-icon {
  background: #f0f0f0;
  color: #333;
  border: 2px solid #aeea00;
}

.timeline li .attitude-icon {
  background: #f0f0f0;
  color: #333;
  border: 2px solid #ff4081;
}

.timeline li .test-icon {
  background: #f0f0f0;
  color: #333;
  border: 2px solid #bd362f;
}


/** timeline content **/

.tl-heading h4 {
  margin: 0;
  color: #42A5F5;
}

.tl-heading-knowledge h4 {
  margin: 0;
  color: #50a8af;
}

.tl-heading-practice h4 {
  margin: 0;
  color: #8eca00;
}

.tl-heading-attitude h4 {
  margin: 0;
  color: #ff4081;
}

.tl-heading-test h4 {
  margin: 0;
  color: #bd362f;
}

.tl-body p, .tl-body ul {
  margin-bottom: 0;
}

.tl-body > p + p {
  margin-top: 5px;
}

/** media queries **/
@media (max-width: 991px) {
  .timeline li .timeline-panel {
    width: 44%;
  }
}

@media (max-width: 700px) {
  .page-header h1 { font-size: 1.8em; }
  
  ul.timeline:before {
    left: 40px;
  }
  
  .tldate { width: 140px; }

  ul.timeline li .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline li .tl-circ {
    top: 22px;
    left: 22px;
    margin-left: 0;

  }
  ul.timeline > li > .tldate {
    margin: 0;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}




.navbar-slot a,
.navbar-slot a:link,
.navbar-slot a:visited {
	 color: #b9b9b9;
} 

.navbar-slot:hover a,
.navbar-slot:active a {
	 color: white;
} 


.inverted-form {
	 background-color: #333; 
	 padding: 8px 4px;
} 

.media-border-bottom {
	border-bottom: 1px solid #d0d0d0;
} 

.hero-widget-title {
	margin: 0;
	padding: 0 0 4px 0;
	font-weight: lighter;
} 

.course-icon-block {
	min-width: 70px;
	text-align: center;
	background: #f0f0f0;
	color #969696 ;
} 

.navbar-slot {
	height: 80px; 
} 

.navbar-slot::first-line {
	line-height:80px;
} 


.notification-block {
	width: 70px;
	height: 70px;
	line-height: 70px;
    font-size: 25px;
	border:1px solid #999;
	color: #999;
	background-color:#f0f0f0;
}

.notification-challenge {
	border:1px solid #2979ff;
	color: #2979ff;
	background-color:#f0f0f0;
} 

.notification-friend {
	border:1px solid #29ff79;
	color: #29ff79;
	background-color:#f0f0f0;
}

.notification-system {
	border:1px solid #f5cf17;
	color: #f5cf17;
	background-color:#f0f0f0;
}

.notification-test {
	border:1px solid #f54f47;
	color: #f54f47;
	background-color:#f0f0f0;
}      

/* custom styles for inputs */
.input-blue-addon {
 border-color:#2979ff;
 color:#fff;
 background-color:#2979ff;
} 

.input-blue {
 border-color:#2979ff;
 color:#333;
 background-color:;
} 

.input-blue::placeholder {
 color:#999;
 background-color:;
} 
 
/* custom styles for progress bars */
.progress-course-label {
	text-align: center;
	padding: 0 0 3px;
	background-color: #fff;
} 

.progress-course {
	width:50%; 
	min-height:20px; 
	margin: 0 auto;
	padding: 0 0 4px;
} 


.progress-hero {
	width: auto; 
	margin: 0 auto;
	padding: 0;
	background-color:transparent; 
	border: 1px solid white;
} 
/* custom styles for store item box */
.store-item { 
	    margin			: 0 0 20px;
		padding			: 0;
		background		: #fff;
		border			: 1px solid #dadada;
		border-radius	: 0;
}

.store-item-bg { 
	    margin			: 0;
		padding			: 0;
		background-color: #f0f0fa;
		min-height		: 60px;
}

.store-item-img { 
	    margin			: -100px auto 0;
		padding			: 0;
		background		: ;
		border			: 2px solid #fff;
		border-radius	: 50%;
		height			: 100px;
		width			: 100px;
}

.store-item-img > img { 
		padding			: 0;
		background		: ;
		border-radius	: 50%;
		border			: 2px solid #fff;
}

.store-item-info { 
	    margin			: 0;
		padding			: 0 16px 12px;
		background		: #fff;
}

.store-item-info > :first-of-type{ 
		color			: #27aae1;
}


/* custom styles for user social box */
.user-profile-box { 
	    margin			: 0 0 20px 0 ;
		padding			: 0;
		background		: #fff;
		border			: 1px solid #d0d0d0;
		border-radius	: 0;
}

.user-profile-box  .user-bg { 
	    margin			: 0;
		padding			: 0;
		background-color: white;
		height			: 160px;
}

.user-profile-box .user-img { 
	    margin			: -70px auto 0 2%;
		padding			: 0;
		background		: ;
		border			: 2px solid #fff;
		border-radius	: 50%;
		height			: 100px;
		width			: 100px;
}

.user-profile-box .user-img > img { 
		padding			: 0;
		background		: ;
		border-radius	: 50%;
		border			: 2px solid #fff;
}

.user-profile-box .user-info { 
	    margin			: 0;
		padding			: 0 16px 12px;
		background		: #fff;
}

.user-profile-box .user-info > p:first-of-type{ 
		color			: #27aae1;
}


/* custom styles for public chat icon */
.public-chat {
	background: rgb(252,254,252); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(252,252,252,1) 0%, rgba(239,239,239,1) 70%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(252,252,252,1) 0%,rgba(239,239,239,1) 70%,rgba(229,2209,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  rgba(252,252,252,1) 0%,rgba(239,239,239,1) 70%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dadada',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	color			: #696969;
	border		  	: 1px solid #00E676;
}

.public-chat:hover {
	color			: #00E676;
	border		  	: 1px solid #696969;
}

/* custom styles for skill level  progress widget */
.skill-progress {
	margin: 0 0 20px;
	padding: 10px 0;
	border: 1px solid #dadada; 
} 

.skill-progress-heading {
	 padding: 0 8px 8px;
} 

 /* custom general styles  */
.text-lighter {
	font-weight:lighter;
}

.quiz-play {
	padding: 0 40px 0 10px;
}

.challenge-xp {
	padding: 0 20px;
	min-width: 150px;
}

.main-row {
	padding: 20px 0;
}

.lead-profile {
	margin: 0;
}

/* custom styles for hero profile widget */
.hero-profile {

}

.hero-profile .hero-nickname {
	margin: 0;
	padding: 0 0 4px 0;
}

.hero-profile .hero-level {
	margin: 0;
	padding: 8px 0 2px 0;
}

.hero-profile .hero-status {
	margin: 0;
	padding: 4px 0 2px 0;
}

.hero-profile .hero-xp {
	margin: 0;
	padding: 2px 0;
}

.hero-profile .hero-trophy {
	margin: 0;
	padding: 2px 0;
}

/* custom styles for trophy popup panel (temporary) */
.trophy-popup-left {
	padding: 12px;
	border-right: 1px solid #ccc; 
	background: #333;
}
.trophy-popup-right {
	padding: 12px;
	color: #333;
}

/* custom styles for panels (temporary) */
.panel-margin-top {
	margin: 20px 0 0 0;
}

.panel-body-small {
	padding: 4px;
	width: auto;
}

.panel-button {
	margin: 1px 4px;
}

.brand-logo-item {
	padding: 0 0 0 16px;
}
.brand-logo-item i {
	padding: 0 8px 0 0;
}

/* custom styles for info boxes (temporary) */
.info00 {
   background-color: #fff176;	
   border		  : 2px solid #f6e020;
}

/* custom styles for trophies (temporary) */
.bg-yellow-300-b {
  background-color: #fff176;
  border		  : 2px solid #f6e020;
}
.bg-yellow-700-b {
  background-color: #fbc02d;
  border		  : 2px solid #f57f17;
}
.bg-grey-300-b {
  background-color: #e0e0e0;
  border		  : 2px solid #9e9e9e;
}
.bg-purple-300-b {
  background-color: #ba68c8;
  border		  : 2px solid #7b1fa2;
}
.bg-grey-100-b {
  background-color: #f5f5f5;
  border		  : 2px solid #bbdefb;
}

/* custom styles for glory moments widget */
.glory-moments {
	position		: relative; 
	display			: inline-block;
	padding			: 0 0 4px 0; 
	margin			: 0 18px 4px 0; 
	width			: 120px; 
	border-radius	: 3px; 
}
.glory-moments-heading {
	margin-bottom	: 4px; 
	padding			: 6px 0;
	border-bottom	: 1px solid #dadada; 
}

.glory-moments-1{
	border			: 2px solid #fff176;
	box-shadow		: 4px 4px 3px rgba(30,30,30,.3);
}
.glory-moments-2{
	border			: 2px solid #D9D9D9;
	box-shadow		: 2px 2px 4px rgba(30,30,30,.4);
}
.glory-moments-3{
	border			: 2px solid #FBC02D; 
	box-shadow		: 0 0 1px rgba(30,30,30,.5);
}
.glory-moments-heading-1{
	background-color:#fffa82;  
}
.glory-moments-heading-2{
	background-color:#fcfcfc;
}
.glory-moments-heading-3{
	background-color:#FBD03D;  
}

/* toggle sidebar button custom styles */
.sidebar-toggle,
.sidebar-toggle:visited,
.sidebar-toggle:active,
.sidebar-toggle:link {
  color: #aaa;
}
.sidebar-toggle:hover {
  color: #ddd;
}

/* sidebar custom styles */
.sidebar-category {
  padding: 12px;
  color: #969696;
  font-size: 1.3rem;
  font-weight: 300;
  background: ;
  border-bottom: 1px solid #494949;
}

/* dark media for navbar inverted dropdown */
.navbar-nav > li.notifications .dropdown-menu li.media-inverted {
  color: #969696;
  background: #222;
  border-color: #444;
}

.navbar-nav > li.notifications .dropdown-menu li.media-inverted:hover {
  color: #a6a6a6;
  background: #222;
}


/* dark footer */
.footer-inverted {
  text-align: center;
  color: #696969;
  font-weight: 500;
  background: #111;
  height: 45px;
  line-height: 45px;
}

.footer-section a:link, 
.footer-section a:visited {
  color: #898989;
}

.footer-section a:hover, 
.footer-section a:active {
  color: #42a5f5;
  text-decoration: none;
}


.footer-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.rounded {
	border-radius: 50%;
}
/* custom style for form */
.form-control[disabled] {
	color: #969696; 
}


/* custom style for course widget */

.course-tech-bg {
	background-color: #e6f6fe; 
}

.course-economy-bg {
	background-color: #fee3e5; 
}

.course-culture-bg {
	background-color: #f0fee1; 
}


.course-title h3 {
	color: #969696; 
}
.course-title:hover,
.course-title:active,
.course-title:link,
.course-title:visited
 {
	text-decoration: none; 
}
.course-title:hover h3,
.course-title:focus h3
 {
	color: #0c80df;
}

/* custom style for panel */
.panel-heading-inverted {
	padding: 10px 15px;
	background-color: #f9f9f9;
	color: #d9d9d9;
}
.panel-heading-no-border {
	padding: 10px 15px;
}


.media-slot {
	padding: 16px;
}

.trophy-row {
	border: none;
	border-bottom: 2px solid #d0d0d0;
}
/* trophy summary widget custom style */
.trophy-summary,
.level-summary {
	min-width: 150px;
	max-width: 250px;
	margin: 0 auto;
}

.level-summary-heading {
	padding: 0;
}
.trophy-summary-heading,
.level-summary-heading {
	border-bottom: 1px solid #fff;
}
.trophy-summary-body,
.level-summary-body {
	padding: 8px 8px 0;
}
.trophy-summary-body-slot,
.level-summary-body-slot {
	padding: 8px 0;
	text-align: center;
	color: ;
}

/* trophies (medals) custom style */
.trophy {
	max-width: 76px;
}

.locked-trophy {
	background		: rgb(245,245,245); /* Old browsers */
	color			: #646464;
	border		  	: 5px solid #333;
}

.bronze-trophy {
	background: rgb(242,205,150); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(242,205,150,1) 0%, rgba(182,141,76,1) 95%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(242,205,150,1) 0%,rgba(182,141,76,1) 95%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  rgba(242,205,150,1) 0%,rgba(182,141,76,1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2cd96', endColorstr='#b68d4c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	color			: #8d6e63;
	border		  	: 5px solid #AF882D;
}
.silver-trophy {
	background: rgb(242,242,242); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(252,252,252,1) 0%, rgba(219,219,219,1) 70%, rgba(209,209,209,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(252,252,252,1) 0%,rgba(219,219,219,1) 70%,rgba(209,209,209,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  rgba(252,252,252,1) 0%,rgba(219,219,219,1) 70%,rgba(209,209,209,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#d1d1d1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	color			: #646464;
	border		  	: 5px solid #9e9e9e;
}
.gold-trophy {
	background: rgb(249,239,164); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(249,239,164,1) 0%, rgba(249,233,89,1) 74%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(249,239,164,1) 0%,rgba(249,233,89,1) 74%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  rgba(249,239,164,1) 0%,rgba(249,233,89,1) 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9efa4', endColorstr='#f9e959',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	color			: #F9A825;
	border		  	: 5px solid #f6e020;
}
.gold-trophy-glowing {
	background: rgb(249,239,164); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(249,239,164,1) 0%, rgba(249,233,89,1) 74%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(249,239,164,1) 0%,rgba(249,233,89,1) 74%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  rgba(249,239,164,1) 0%,rgba(249,233,89,1) 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9efa4', endColorstr='#f9e959',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	color			: #F9A825;
	border		  	: 5px solid #FFFA82;
	
	-webkit-animation: neon-yellow 1.5s ease-in-out infinite alternate;
	-moz-animation: neon-yellow 1.5s ease-in-out infinite alternate;
	animation: neon-yellow 1.5s ease-in-out infinite alternate;
}
.gold-trophy-glowing-small {
	background: rgb(249,239,164); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(249,239,164,1) 0%, rgba(249,233,89,1) 74%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(249,239,164,1) 0%,rgba(249,233,89,1) 74%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  rgba(249,239,164,1) 0%,rgba(249,233,89,1) 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9efa4', endColorstr='#f9e959',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	color			: #F9A825;
	border		  	: 2px solid #FFFA82;
	
	-webkit-animation: neon-yellow 1.5s ease-in-out infinite alternate;
	-moz-animation: neon-yellow 1.5s ease-in-out infinite alternate;
	animation: neon-yellow 1.5s ease-in-out infinite alternate;
}
.plutonium-trophy {
	background: rgb(203,96,179); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(203,96,179,1) 0%, rgba(193,70,161,1) 21%, rgba(168,0,119,1) 78%, rgba(219,54,164,1) 90%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(203,96,179,1) 0%,rgba(193,70,161,1) 21%,rgba(168,0,119,1) 78%,rgba(219,54,164,1) 90%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  rgba(203,96,179,1) 0%,rgba(193,70,161,1) 21%,rgba(168,0,119,1) 78%,rgba(219,54,164,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		
	color			: #E1BEE7;
	border		 	: 5px solid #d500f9;
}
.plutonium-trophy-glowing {
	background: rgb(189,0,206); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(189,0,206,1) 0%, rgba(255,99,179,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(189,0,206,1) 0%,rgba(255,99,179,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  rgba(189,0,206,1) 0%,rgba(255,99,179,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd00ce', endColorstr='#ff63b3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	color			: #E1BEE7;
	border		 	: 5px solid #a500b9;
	
	-webkit-animation: neon-purple 1.1s ease-in-out infinite alternate;
	-moz-animation: neon-purple 1.1s ease-in-out infinite alternate;
	animation: neon-purple 1.1s ease-in-out infinite alternate;
}
.plutonium-trophy-glowing-small {
	background: rgb(189,0,206); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(189,0,206,1) 0%, rgba(255,99,179,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(189,0,206,1) 0%,rgba(255,99,179,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  rgba(189,0,206,1) 0%,rgba(255,99,179,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd00ce', endColorstr='#ff63b3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	color			: #E1BEE7;
	border		 	: 2px solid #a500b9;
	
	-webkit-animation: neon-purple 1.5s ease-in-out infinite alternate;
	-moz-animation: neon-purple 1.5s ease-in-out infinite alternate;
	animation: neon-purple 1.5s ease-in-out infinite alternate;
}
.diamond-trophy {
	background: rgb(242,246,248); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 0%, rgba(181,198,208,1) 84%, rgba(224,239,249,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 0%,rgba(181,198,208,1) 84%,rgba(224,239,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 0%,rgba(181,198,208,1) 84%,rgba(224,239,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	color			: #8d6e63;
	border		  	: 5px solid #bbdefb;
}
.diamond-trophy-glowing {
	background: rgb(242,246,248); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 0%, rgba(181,198,208,1) 84%, rgba(224,239,249,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 0%,rgba(181,198,208,1) 84%,rgba(224,239,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 0%,rgba(181,198,208,1) 84%,rgba(224,239,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	color			: #E1BEE7;
	border		 	: 5px solid #bbdefb;
	
	-webkit-animation: neon-blue 1.1s ease-in-out infinite alternate;
	-moz-animation: neon-blue 1.1s ease-in-out infinite alternate;
	animation: neon-blue 1.1s ease-in-out infinite alternate;
}
.diamond-trophy-glowing-small {
	background: rgb(242,246,248); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 0%, rgba(181,198,208,1) 84%, rgba(224,239,249,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 0%,rgba(181,198,208,1) 84%,rgba(224,239,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 0%,rgba(181,198,208,1) 84%,rgba(224,239,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	color			: #E1BEE7;
	border		 	: 2px solid #bbdefb;

	-webkit-animation: neon-blue 1.5s ease-in-out infinite alternate;
	-moz-animation: neon-blue 1.5s ease-in-out infinite alternate;
	animation: neon-blue 1.5s ease-in-out infinite alternate;
}

/*glow for webkit*/
@-webkit-keyframes neon-red {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
@-webkit-keyframes neon-blue {
  from {
    box-shadow: 0 0 0 #127DDF;
  }
  to {
    box-shadow: 0 0 8px #52BDFF;
  }
}
@-webkit-keyframes neon-yellow {
  from {
    box-shadow: 0 0 0 #fff176;
  }
  to {
    box-shadow: 0 0 9px #ffe828;
  }
}
@-webkit-keyframes neon-green {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}
@-webkit-keyframes neon-orange {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
@-webkit-keyframes neon-purple {
  from {
    box-shadow:  0 0 0 #cf00ae;
  }
  to {
    box-shadow:  0 0 16px #ff00de;
  }
}
/*glow for mozilla*/
@-moz-keyframes neon-red {
  from {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #FF1177, 0 0 7px #FF1177, 0 0 8px #FF1177, 0 0 10px #FF1177, 0 0 15px #FF1177;
  }
  to {
    box-shadow: 0 0 4px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 6px #FF1177, 0 0 8px #FF1177, 0 0 9px #FF1177, 0 0 11px #FF1177, 0 0 18px #FF1177;
  }
}
@-moz-keyframes neon-blue {
  from {
    box-shadow: 0 0 0 #127DDF;
  }
  to {
    box-shadow: 0 0 8px #52BDFF;
  }
}
@-moz-keyframes neon-yellow {
  from {
    box-shadow: 0 0 0 #fff176;
  }
  to {
    box-shadow: 0 0 9px #ffe828;
  }
}
@-moz-keyframes neon-green {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}
@-moz-keyframes neon-orange {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
@-moz-keyframes neon-purple {
  from {
    box-shadow:  0 0 0 #cf00ae;
  }
  to {
    box-shadow:  0 0 16px #ff00de;
  }
}
/*glow*/
@keyframes neon-red {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
@keyframes neon-blue {
  from {
    box-shadow: 0 0 0 #127DDF;
  }
  to {
    box-shadow: 0 0 8px #52BDFF;
  }
}
@keyframes neon-yellow {
  from {
    box-shadow: 0 0 0 #fff176;
  }
  to {
    box-shadow: 0 0 9px #ffe828;
  }
}
@keyframes neon-green {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}
@keyframes neon-orange {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
@keyframes neon-purple {
  from {
    box-shadow:  0 0 0 #cf00ae;
  }
  to {
    box-shadow:  0 0 16px #ff00de;
  }
}






